#sidebar {
    background-color: #f8f9fa;
    width: 150px;
    height: 100vh;
}

/*
Styling 100% / 100vh from:
https://www.w3schools.com/howto/howto_css_div_full_height.asp
https://stackoverflow.com/questions/4535983/for-div-to-extend-full-height
*/
