.locationTitle {
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
}

.secondaryText {
    font-size: 14px;
}

.listingUser {
    font-size: 16px;
}

.likeButton {
    background-color: white;
    border-color: lightgray;
}

.likeButton:hover {
    background-color: lightgray;
    border-color: darkgray;
}